{% extends "partials/base/base.html"%}
{% load static %}
{% block title %}Error {{code}}{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{% static '/css/main.soon.css' %}">
{% endblock %}
{% block mainContent %}
<div class="wrapper">
  <div class="icon"><img src="{% static '/img/logo.svg' %}" ></div>
  <div class="content">
    <header>{{code}}</header>
    <p>{{type}}</p>
    <a href="{% url 'mainIndex' %}" class="btn btn-primary">Return Home</a>
  </div>
</div>
</div>
{% endblock %}