{% extends "partials/base/base.html"%}
{% load static %}
{% block title %}
#WHATWEDO - Camps
{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/main.whatwedo.css' %}">
{% endblock %}
{% block mainImage %}
<div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/img/710CB4C8-2B1C-44AC-8788-390F4DFBDD47.png' %}" class="d-block w-100 cp-top" >
    </div>
  </div>
</div>
{% endblock %}
{% block background %}
True
{% endblock %}
{% block mainContent %}
<div class="main-whatwedo">
  <h4 class="text-center subtitle">We offer something for everybody</h4>
  <h1 class="text-center title">Camps</h1>
  <p>Camps are what we refer to as residential vacations away. As a member of Squadron, you will have several opportunities to travel away for the weekend, week, or longer. Here are just a few of the numerous ones you may register for:</p>
  <h2>Annual camps</h2>
  <p>You'll desire more once you've become acclimated to local camping. Every year, you'll get the chance to go to a camp on an active RAF station. These courses run a week (usually Saturday to Saturday or Wednesday to Wednesday) and are designed to get you closer to serving in the military. You'll fit right in as an air cadet.</p>
  <p>You'll stay in RAF housing blocks, dine at the airmen's mess, and see the station's many divisions. You'll get to know the base staff and participate in sports, quizzes, aircraft recognition competitions, and other social events. Drill, uniform, and room inspections will all be conducted, and everything will earn you and your team points. Cadets over the age of 16 may be assigned to a work experience placement while at camp, allowing them to observe firsthand what a profession in the Royal Air Force entails.</p>
  <p>Everyone will usually receive a trip in one of the Air Experience Flight's Tutor aircraft, and being stationed at an RAF station puts you in a great position to obtain chance flights on other aircraft that may have a few extra seats. Anyone up for a helicopter ride?</p>
  <p>An Air Cadet Liaison Officer (ACLO) is assigned to each RAF station to ensure that the camp runs well and that you have as many opportunities to participate as possible.</p>
  <h2>Overseas camps</h2>
  <p>This is when things start to get exciting! You're ready for an overseas camp at one of our RAF bases in Gibraltar, Cyprus, or Germany if you've attended yearly camp, demonstrated your leadership, and attained the age of 15.</p>
  <p>These camps are more laid-back since everyone participating has a lot of experience. Drill and inspections are less important than other components of camp, such as working with RAF troops, seeing local towns (such as Limassol, Cyprus), and visiting historical places.</p>
  <p>A summer camp in another country is a requirement, and it's no surprise that spots are restricted. Applying for one is only the beginning; you may have to compete for an interview with people from your own squadron. Only then will you find out if you've been selected for foreign camp, and you'll become the envy of your squadron!</p>
  <h2>Blue Camps</h2>
  <p>These camps are hosted every year on active RAF bases and are meant to offer cadets a taste of what it's like to be a member of the Royal Air Force.</p>
  <p>Section visits include locations like Air Traffic Control, Engineering, the Fire Department, and Survival Equipment, to mention a few. You may also get the opportunity to participate in an Air Experience Flight, either in a trainer plane or a Puma helicopter.</p>
  <p>Cadets have visited RAF Halton, RAF Coningsby, RAF Benson, and RAF Cosford in recent years. Where do you think you'll be this year?</p>
  <h2>Adventure training camps</h2>
  <p>These camps are for those of you that enjoy a little adrenaline rush!</p>
  <p>These are the camps for you if you want to do mountain biking, climbing, white water rafting, or zip lining! The age limit for these programmes is normally 14 years old due to the nature of the activities you will be participating in - but check!</p>
  <p>You never know, it may be the finest decision you ever make!</p>
  <h2>Drill & Ceremonial camps</h2>
  <p>The Corps Drill & Ceremonial camps are a new addition to the calendar and are a must-attend for anybody interested in honing their drill skill and learning how to execute rifle drill like the Queens Colour Squadron RAF Regiment. This camp brings together cadets from all across the nation, and it's a terrific way to meet new people.</p>
  <p>The week is led by the Corps Warrant Officer and his crew, and it begins with daily drill practise and ends with an exclusive closing parade in front of Air Vice Marshall Bunny James, one of the Royal Air Force's most senior officers.</p>
  <p>The Drill & Ceremonial team have a Twitter account where they update all the latest news and information <a href="https://twitter.com/RAFAC_DandC" target="_blank">@RAFAC_DandC</a></p>
  <h2>Aerospace camps</h2>
  <p>Do you have a passion for aviation, engineering, and flying? If you want to work in the aviation or space industries, an RAFAC Aerospace Camp is for you!</p>
  <p>Cadets get the opportunity to meet with specialists in their disciplines and gain hands-on experience, as well as opportunities to fly in both powered aircraft and gliders, thanks to the support and sponsorship of some of the industry's greatest corporations.</p>
  <p>You can follow the 2FTS Aerospace Team on Twitter to view all the exciting things they got up to during the annual camp <a href="https://twitter.com/2ftsCamp" target="_blank">@2ftsCamp</a></p>
  <h2>RIAT camp</h2>
  <p>The Royal International Air Tattoo, one of the world's largest air displays, is held at RAF Fairford every year. Air Cadets assist with the logistical aspects of the camp, such as selling programmes, escorting VIPs, and marshalling portions of the show.</p>
  <p>It's hard work with long hours, but if you want a front-row ticket to witness some of the world's most famous planes take to the skies, this is the camp for you.</p>
  <h2>International Air Cadet Exchange</h2>
  <p>The International Air Cadet Exchange (IACE) is an organisation that connects Air Cadets all around the world. Every July and August, we swap students for 15 days so that each gets a taste of the other's culture as well as another fantastic cadet experience. Places are limited, so if you're between the ages of 17 and 19, you'll need to apply as soon as the programme permits to be considered - ask your teachers for further information.</p>
  <h3>Who's in the scheme?</h3>
  <p>The first exchange occurred between the United Kingdom and the Canadian Air Cadets in 1947. More than 20 countries now make up the global cadet family, with around 600 cadets/volunteer staff exchanging each year. Roughly 90 of them are from the United Kingdom, and they will go to throughout 15 other nations around the world. The most widely spoken language is English.</p>
  <h4>Country Cadet Organisation</h4>
  <ul>
    <li>Aerospace Cadets of the Philippines</li>
    <li>Air Training Corps Association of New Zealand</li>
    <li>Australian Air Force Cadets (AAFC)</li>
    <li>Belgium Cadets de l’Air de Belgique</li>
    <li>Canada Air Cadet League of Canada</li>
    <li>DGLR - Deutsche Gesellschaft für Luft- und Raumfahrt together with the German Luftwaffe</li>
    <li>France Aero Club de France</li>
    <li>Ghana Ghana Cadet Corps</li>
    <li>Hong Kong Hong Kong Air Cadet Corps</li>
    <li>Israel Gadna Avir</li>
    <li>Japan Aerospace Scouts Association</li>
    <li>Netherlands Royal Netherlands Aeronautical Association</li>
    <li>Philippines Aerospace Association</li>
    <li>Singapore National Cadet Corps (Air)</li>
    <li>Switzerland Aero Club of Switzerland</li>
    <li>The Luxembourg Aeronautical Federation</li>
    <li>The Turkish Aeronautical Association</li>
    <li>The Young Falcons of Korea</li>
    <li>Turkey Turkish Air League</li>
    <li>United States US Civil Air Patrol</li>
  </ul>
  <p>Visit <a href="http://www.iacea.com/" target="_blank">iacea.com </a>for more details.</p>
  <div class="whatwedo-images">
    <div class='parent'>
      <div class='child'>
        <img src="{% static '/img/9CBA933F-F7E4-4DF1-8DBC-C2400DF500DD.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/351481A9-B988-4EDE-B561-40A847C32305.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/5DD6B0D3-47C2-47D8-B7CA-B15ECFFC0702.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/66380CEC-5807-4426-A0A3-B73A4D8BDA27.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/93ED646F-5C37-4DFD-B50E-2F97FA1B2B0A.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/C4D469CF-C9E1-4AC8-AD81-195177FFACAA.png' %}" >
      </div>
    </div>
  </div>
</div>
{% endblock %}