{% extends "partials/base/base.html"%}
{% load static %}
{% block title %}
#WHATWEDO - Training And Education
{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/main.whatwedo.css' %}">
{% endblock %}
{% block mainImage %}
<div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/img/4797F9B7-2FC0-459F-ACC2-3B96396BC856.png' %}" class="d-block w-100 cp-top" >
    </div>
  </div>
</div>
{% endblock %}
{% block background %}
True
{% endblock %}
{% block mainContent %}
<div class="main-whatwedo">
  <h4 class="text-center text-uppercase subtitle">Are you ready to gain qualifications</h4>
  <h1 class="text-center bold text-uppercase title">Training and education</h1>
  <p>Aside from the amazing experiences and new skills you'll gain as an air cadet, you'll also gain legitimate certifications that will help you stand out when it comes time to go to university or start your chosen job.</p>
  <p>As a member of the RAFAC, both cadets and staff have several possibilities to obtain certificates and new skills. These range from First Aid or Drill certifications to City & Guilds Masters Level Degree equivalents in Youth Leadership and Management.</p>
  <p>Cadets begin learning as soon as they join as part of the Classification curriculum. This is a progressive training programme that exposes cadets to a wide range of disciplines at various levels.</p>
  <p>The first step is to complete First Class Cadet training. This course covers the ATC's, RAF's, and flight's history, as well as airmanship, map reading, and expedition training, as well as basic radio communication and drill. These subjects are done in a workbook, and the squadron is graded on them.</p>
  <p>Leading Cadet is the next phase, which involves training in Airmanship, Flight Principles, and Basic Navigation. The RAFAC Virtual Learning Environment - Ultilearn is used to assess these and all other lessons for the higher classes.</p>
  <p>The next two levels are Senior and Master Cadet, with cadets choosing three subjects from a list that includes: Aircraft Navigation, Pilot Navigation, Aircraft Handling and Flying Techniques, Airframes, Piston Engine Propulsion, Jet Engine Propulsion, Rocketry, Military Aircraft Systems, Air Power, Radio and Radar, Satellite and Data Communications, Avionics, and Aircraft Electrical Systems.</p>
  <p>Instructor Cadet is the highest and last classification. Cadets must pass a Method Of Instruction course and be assessed while delivering a lesson to earn this. This provides cadets with teaching abilities that they can utilise to help junior cadets develop or even outside of the RAFAC.</p>
  <h2 class="bold text-uppercase">BTEC Awards</h2>
  <p>Cadets receive a Level 2 BTEC Qualification in Aviation Studies when they complete their Master Cadet award. The Cadet Vocational Qualifications Office (CVQO) provides paid opportunities for cadets aged 14 and above (as well as staff!) and this isn't the only external award they can receive.</p>
  <p>Cadets 14-15 12 get a recognised Level 2 qualification from the Institute of Leadership and Management after completing the Young Leaders Award (a two-day programme with both written and practical assessments).</p>
  <p>They can complete a Level 2 BTEC in Teamwork and Personal Development at the age of 16, which takes into account all of the activities they've done while in the RAFAC, such as classifications, rankings, Duke of Edinburgh Awards, volunteering, and adventurous activities.</p>
  <p>They are also eligible for the Level 3 ILM course, which is commonly given in conjunction with other RAFAC courses like as the QAIC (Qualified Aerospace Instructors Course) or the Junior Leaders Course, starting at the age of 16.</p>
  <p>Adults can take CVQO courses to get qualifications in Education and Training, Youth Management, and Strategic Management, all the way up to a Master's Degree level.</p>
  <h2 class="bold text-uppercase">BTEC Qualifications</h2>
  <p>Because to our affiliation with CVQO (previously the Cadet Vocational Qualification Organisation), we can offer our cadets a wide range of internationally recognised qualifications.</p>
  <p>The Institute of Leadership and Management (ILM) offers BTEC Certificates and Diplomas, as well as leadership and management certifications, at no cost to the cadet. Here's a sampling of what's on offer:</p>
  <p class="bold content-subtitle">BTEC Level 1 Certificate in Teamwork, Personal Skills and Citizenship (SCQF Level 4)</p>
  <p>The CVQO-led BTEC Level 1 Certificate in Teamwork, Personal Qualities, and Citizenship (SCQF Level 4) is designed for 13-15-year-olds and recognises early cadetting skills that are often transferable to the workplace.</p>
  <p>Air Cadets who earn the rank of First Class Cadet are eligible for the Certificate, which serves as a reminder of the steps required to reach this milestone as well as a stepping stone to additional CVQO-led courses.</p>
  <p class="bold content-subtitle">BTEC Level 2 in Teamwork and Personal Development in the Community (SCQF Level 5)</p>
  <p>Thousands of Air Cadets complete the CVQO-led BTEC Level 2 in Teamwork and Personal Development in the Community (SCQF Level 5) each year.</p>
  <p>Learners gain a variety of skills, such as efficient communication, career planning, the importance of volunteering, and character development.</p>
  <p>It's for cadets aged 16 to 18, and it's a terrific way to boost your chances of getting into college or getting a career. It also looks excellent on a CV alongside school and college work.</p>
  <p class="bold content-subtitle">BTEC Level 2 in Music for Practical Performance (SCQF Level 5)</p>
  <p>The BTEC Level 2 Diploma in Music for Practical Performance (SCQF Level 5) is a CVQO-led award that focuses on specific aspects of working in the music industry. You will acquire a variety of skills, including event organisation, research, and presenting, in addition to recognising your performance potential.</p>
  <p>You'll also study a number of employability skills, such as communication and teamwork. This, like the BTEC Level 2 in Community Teamwork and Personal Development, is geared at cadets aged 16 to 18.</p>
  <p class="bold content-subtitle">Institute of Leadership and Management qualifications</p>
  <p>A range of ILM leadership and management credentials are available for ages 14-18 through our relationship with CVQO. If you're interested in signing up for one of these, go to the CVQO's website/.</p>
  <h2 class="bold text-uppercase">Leadership training</h2>
  <p>As a cadet, you'll be given greater duties and have more opportunities to improve your self-confidence and leadership skills as you gain more experience. The following three levels of formal leadership training are available - they'll put your skills to the test, but this is where you'll really shine!</p>
  <p class="bold content-subtitle">Wing and Regional Leadership Courses</p>
  <p>Training for future Junior NCOs (Corporals) and Senior NCOs is usually two or three days long (Sergeants and above). This will weed out the natural leaders, and if you're one of them, you'll rise in the ranks.</p>
  <p class="bold content-subtitle">Cadet Leadership Courses</p>
  <p>Cadet Leadership Courses are available in three different formats for 16 and 17-year-olds. Each training lasts a week and, if completed, results in the award of the Cadet Leadership Badge. The Army Cadet Force (ACF) offers three courses in Nesscliff in Shropshire at Easter and three sessions at Frimley Park in Surrey in July. Along with Army Cadets, Sea Cadets compete, so get ready for some fierce competition! Each July, the Combined Cadet Force (CCF) hosts an Air Cadet Leadership Course at RAF Cranwell, which is open to both CCF and ATC air cadets.</p>
  <p class="bold content-subtitle">The Air Cadet Junior Leaders Course</p>
  <p>The Junior Leaders Course is physically demanding and needs true commitment and effort. It is not for the faint of heart. The programme consists of nine weekend training camps and an assessment week that runs from September to Easter. The Junior Leaders Course is a huge step up from the Cadet Leadership Courses, and it's for older cadets (you must be 17 or older in the year you start). It's also offered to Sea Cadets and Army Cadets, and it concludes in the Institute of Leadership and Management awarding a Level Two Certificate in Team Leadership. This is our most difficult but most rewarding leadership course; if you can get through it, you'll be on your way to becoming a very effective leader...</p>
  <p>We also fund Personal Awareness Courses at the Joint Services Chaplaincy in Hampshire, in addition to the traditional leadership courses. If you're 16 or older and have shown leadership potential, these courses are for you. They're meant to help you build strong citizenship skills. They are open to everyone, even if they are set against a Christian setting. Leadership for Life, a comparable training, is held every year in Scotland.</p>
  <p>The ultimate test for a cadet is teamwork and leadership, and it might be the crowning success of your time with us. If you want to be the best, we can help you get there.</p>
  <h2 class="bold text-uppercase">Other qualifications</h2>
  <p>First Aid, Health & Safety, and Adventure Training are among the other qualifications available to both staff and cadets.</p>
  <p>All cadets and staff members will complete the Heartstart training package, which includes first aid certification. Higher-level training, such as Activity First Aid, and later teacher certifications, are available to employees. Cadets can earn an Entry Level Award in Health and Safety, and staff can learn how to assess risks.</p>
  <p>Adult instructors can gain new skills by completing adventure training qualifications such as Lowland Leader, Mountain Bike Instructor, or Paddlesport Leader, and cadets can work toward a variety of AT qualifications such as Paddlestart, Star awards for canoeing, and navigation awards through the National Navigation Award Scheme.</p>
  <p>The number of options accessible to both cadets and adults as members of the RAFAC at no or very low cost is incredible. You are the only one who can limit what you can do, so how far will you go?!</p>
  <div class="whatwedo-images">
    <div class='parent'>
      <div class='child'>
        <img src="{% static '/img/D2A1A0AE-3FD7-48BA-9AF2-01DF1023FA0E.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/C5708960-571C-4FEB-A6B4-118C688FA9C5.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/795865EE-A187-49C6-8D40-88A6B6CA1112.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/018C37A5-F0CC-428E-A4FE-F602ADDC7C7E.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/16B03276-D534-406F-9968-0F2B5E54D9FF.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/495A6BEB-BD66-4181-8D38-E01587969114.png' %}" >
      </div>
    </div>
  </div>
</div>
{% endblock %}