{% extends "partials/base/base.html"%}
{% load static %}
{% block title %}
#WHATWEDO - Flying & Gliding
{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/main.whatwedo.css' %}">
{% endblock %}
{% block mainImage %}
<div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/img/5F6A3184-5B78-497C-8194-6B89F899D0B0.png' %}" class="d-block w-100 cp-top" >
    </div>
  </div>
</div>
{% endblock %}
{% block background %}
True
{% endblock %}
{% block mainContent %}
<div class="main-whatwedo">
  <h4 class="text-center text-uppercase subtitle">Are you ready to take to the sky's</h4>
  <h1 class="text-center bold text-uppercase title">Flying & Gliding</h1>
  <p>Joining the Air Cadets provides up a world of possibilities, including the opportunity to fly! As a passenger in a light aircraft, a glider, or even on-board RAF aircraft such as a Typhoon fast-jet or a Chinook helicopter, we want to get you flying as often as possible.</p>
  <p>Imagine drifting through thermal air currents with only the sound of wind blowing past your aircraft, or completing barrel rolls and loop the loops at nearly 2,000 feet in the air! It's a buzz, and it's one of the main reasons our cadets join up.</p>
  <p>You'll get the opportunity to fly with the best - RAF pilots – as a cadet. Instructors on the Air Experience Flight (AEF) are current or former Royal Air Force (RAF) military pilots who volunteer to share their knowledge and excitement for flying with you. Flying takes place at one of 12 AEFs located across the country, mostly at RAF bases. You'll be shown how the plane flies and given the opportunity to pilot it and perform aerobatics.</p>
  <p>Cadets can progress through the Flying & Gliding Progressive Training System to ensure they receive the greatest possible instruction. This begins with PTT (Part Task Trainer) training, where cadets can earn their Blue and Bronze Wings. After that, students can work towards earning their Silver Wings by participating in an Air Experience Flight at one of the RAF Stations.</p>
  <h2 class="bold text-uppercase">THE AIRCRAFT</h2>
  <p>The aircraft we use allow you to take your first steps into flight in a thrilling manner. They're an important component of the cadet experience, as they help you get trained, confident, and ready to fly solo. We'll notice if you have a talent for flying. Before you're cleared to take off, familiarise yourself with the aircraft.</p>
  <h3 class="bold text-uppercase">THE GROB TUTOR T1</h3>
  <p>The Grob Tutor, also known as the Grob 115E, is the aircraft used for Basic Flying Training for all three services as well as Air Cadets.</p>
  <p>It's still a straightforward plane to fly. It is difficult enough to put any aspiring pilots to the test. The instructor sits next to the student to ensure maximum engagement and assistance in the air, and the plane's big canopy allows am excellent outside view for flying.</p>
  <div class="whatwedo-images">
    <div class='parent'>
      <div class='child'>
        <img src="{% static '/img/79BDFF40-056D-4468-A903-05027DAA055A.png' %}" >
      </div>
    </div>
  </div>
  <h3 class="bold text-uppercase">THE VIKING T1</h3>
  <p>The Grob G103A Twin II Acro – also known as the Viking T1 – is a modern, high-performance two-seat glider that provides most cadets with their first taste of flight. It's the perfect place for you and your instructor to sit. At our Volunteer Gliding Squadrons (VGS) around the country, it's even utilised to teach instructors.</p>
  <p>The Viking has no motor, so the only way to get off the ground is to use a winch launch, which is an extraordinary experience in and of itself. The height you attain is determined by the current wind strength, but a winch-launch flight usually lasts roughly 5 minutes. In the summer, the pilot can use thermals (warm rising air) to stay aloft for longer periods of time by circling to acquire altitude.</p>
  <div class="whatwedo-images">
    <div class='parent'>
      <div class='child'>
        <img src="{% static '/img/C087FA31-B345-4FA0-9797-C6E48A403DFB.png' %}" >
      </div>
    </div>
  </div>
  <h2 class="bold text-uppercase">PILOT SCHEMES</h2>
  <p>Each year, a number of scholarships are available to air cadets. The Royal Aero Club, the Air League Educational Trust, the RAF Charitable Trust, the Geoffrey DeHaviland Foundation, Babcock Defence Services, the RAF Association, and the Guild of Air Pilots and Air Navigators are among the sponsors of these events.</p>
  <p>For many cadets, these courses are the first step toward earning their PPL (Private Pilots' Licence) and a future as a pilot in the Royal Air Force, Royal Navy, Army, or commercial airlines.</p>
  <p>Some cadets earn their PPLs before they even acquire their driver's licence, so anything is possible!</p>
  <h3 class="bold text-uppercase">The Air Cadet Pilot Scheme</h3>
  <p>Cadets who are truly interested in a high-flying career can also apply for a spot on the Air Cadet Pilot Schemes, which are open to air cadets each year at Tayside Aviation in Dundee?</p>
  <p>To apply, you must have a desire to fly as well as an ability for it. You'll need to attend a Central & East Region Scholarship Briefing Day and then fill out an application form.</p>
  <h3 class="bold text-uppercase">Air Cadet Pilot Navigation Scheme</h3>
  <p>Do you want to be the proud owner of the coveted pilot navigation badge? Each year, up to 30 cadets are selected to participate in the Air Cadet Pilot Navigation Scheme, which is operated by Air Experience Flights. The eligibility requirements for applicants are the same as for the Pilot Scheme. It's a fantastic opportunity to broaden your aviation navigation expertise.</p>
  <div class="whatwedo-images">
    <div class='parent'>
      <div class='child'>
        <img src="{% static '/img/1C6DC1E4-AB56-4B75-975C-E85AF5D3DCE5.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/3CF4281C-0E85-4A7E-BE04-DFAF2E09F5B8.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/26384CFB-8E8C-4EF6-B9D0-16088E1CB048.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/4BF44DFB-80F5-4ABC-9C1E-98AF36AD88F1.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/638BA0EF-F3FB-4BEC-AA38-8AA62730C26A.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/DFD6D0EB-B68A-4783-8658-09B98239CAED.png' %}" >
      </div>
    </div>
  </div>
</div>
{% endblock %}