{% extends "website//base.html"%}
{% load static %}
{% block title %}
Resources Download
{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/main.resources.css' %}">
{% endblock %}
{% block mainImage %}
{% endblock %}
{% block background %}
True
{% endblock %}
{% block mainContent %}
<div class="main-resources">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>RAF Air Cadets website</h4>
          <span><a href="https://www.raf.mod.uk/aircadets" target="_blank">https://www.raf.mod.uk/aircadets</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>Bader</h4>
          <span><a href="https://www.bader.mod.uk" target="_blank">https://www.bader.mod.uk</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>Cadet Portal</h4>
          <span><a href="https://cadets.bader.mod.uk" target="_blank">https://cadets.bader.mod.uk</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>Volunteers Portal</h4>
          <span><a href="https://volunteers.bader.mod.uk" target="_blank">https://volunteers.bader.mod.uk</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>Cadet Activities Consent (TG21)</h4>
          <span><a href="https://rafac.sharepoint.com/:w:/s/interim/QM/EfhrSpaRhRNOrLMjvFDKJp8Bgkl25I-FjQAR69Y6lyhyAw" target="_blank">https://rafac.sharepoint.com/</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>Cadet Medical Declaration Form (TG23)</h4>
          <span><a href="https://rafac.sharepoint.com/:w:/s/interim/QM/EVXEjgPn9rtCiLUW9b_dVHoBUkaEOvYgRbkLKswmQ-ksWQ" target="_blank">https://rafac.sharepoint.com/</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>2445 (Ardudwy) SQN Facebook @2445ardudwy</h4>
          <span><a href="https://www.facebook.com/2445ardudwy/" target="_blank">https://www.facebook.com/2445ardudwy/</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>2445 (Ardudwy) SQN Instagram @2445ardudwy</h4>
          <span><a href="https://www.instagram.com/2445ardudwy/" target="_blank">https://www.instagram.com/2445ardudwy/</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="resource-img">
        <img src="{% static '/img/RAF_roundel.svg' %}">
        <div class="resource-text">
          <h4>2445 (Ardudwy) SQN Twitter @2445ardudwy</h4>
          <span><a href="https://www.twitter.com/2445ardudwy/" target="_blank">https://www.twitter.com/2445ardudwy/</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}