{% extends "partials/base/base.html"%}
{% load static %}
{% block title %}
#WHATWEDO - Shooting & Marksmanship
{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/main.whatwedo.css' %}">
{% endblock %}
{% block mainImage %}
<div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/img/26219C99-8488-4530-BADC-3280F910FD6C.png' %}" class="d-block w-100 cp-top" >
    </div>
  </div>
</div>
{% endblock %}
{% block background %}
True
{% endblock %}
{% block mainContent %}
<div class="main-whatwedo">
  <h4 class="text-center subtitle">Feeling competitive?</h4>
  <h1 class="text-center title">Shooting & Marksmanship</h1>
  <p>You will get the opportunity to try your hand at military skills and drills, including shooting, regardless of your cadet rank.</p>
  <p>Marksmanship is one of our most popular exercises and has a long history with the Air Cadets. Do you think you can focus on distant objects and fire consistently accurate shots? It's not an easy task. It takes attention, focus, and a very steady hand.</p>
  <p>We'll show you how to securely handle a range of firearms. Basic fire at static targets is always done lying down on your stomach (the prone position). As you go through the curriculum, you'll be exposed to a variety of weapons, firing positions, and even the opportunity to compete in shooting competitions if your abilities are up to grade.</p>
  <p>Ranges come in numerous forms and sizes, but they're all in controlled environments with thorough training on any weapon you'll be handling - safety is always our top priority. To begin, you'll be shooting at targets that are around 25 metres away. As you progress through weaponry and your skill level increases, you will be able to shoot at targets up to 100 metres away.</p>
  <h2>Weapon types</h2>
  <p>The No.8 bolt action rifle is first on the list. This is the first weapon you'll use. It's a fantastic all-arounder that began life as the Enfield No 4 rifle, which was utilised throughout World War II. It has been modified to have a shorter barrel and fire the.22 long rifle bullet, and it no longer uses a box magazine with ten rounds; instead, each round must be manually fed in. It is a terrific initial step for your marksmanship talents and generates minimal noise, however ear defenders are usually worn on the range.</p>
  <p>The first thing you'll do is 'dry training,' which is getting to know the No.8 in depth and learning the instructions and safety procedures used on the range. You'll be ready to go forward if you've completed the Weapon Handling Test (WHT).</p>
  <h3>Aiming high</h3>
  <p>Are you over the age of 14? Then you may try out the L98A2 Cadet GP rifle (L98), which is based on the Enfield L85A2 and is still in use today. The gas from the previous round fired is used to re-cock it. A magazine attached to the weapon holds the rounds. It employs high-velocity bullets that produce a louder sound when fired. You must complete initial weapon training and pass your WHTs before using this weapon. You will have the option to fire in the fire trench (standing in a pit with your elbows to the ground), kneeling, and sitting positions as you advance through the curriculum and acquire competence and confidence.</p>
  <p>The L81A2 Cadet Target Rifle is a scaled-up version of the No.8 rifle already in use, with higher calibre ammunition and improved accuracy.</p>
  <p>Whatever weapon you're learning to use, our teachers will make sure you're comfortable with it.</p>
  <h2>Types of shooting</h2>
  <p>The aim is to strike your target correctly and consistently once you've finished your basic weapon training and passed the WHT. Doesn't it appear to be simple? You'll see why practise makes perfect if you try it for yourself. You'll normally fire in one of four types of practise as a cadet shooter:</p>
  <h4>Grouping</h4>
  <p>You pick a single spot on the target and fire many shots at it. The goal is for each round to generate the smallest feasible group. This is a great way to focus and fine-tune your skills. When firing, there is no restriction to how long you may take.</p>
  <h4>Deliberate Fire</h4>
  <p>When you fire at a target with indicated scoring rings, your score is determined by how close you come to the target's centre. You may either use a single huge target or a card with 5 or 10 different targets marked on it for this. When shooting at a card with numerous targets, you should strive to hit one or two of them with each round. Take as much time as you need; the aim is precision.</p>
  <h4>Rapid Fire</h4>
  <p>The emphasis is on speed and safety, just as it sounds. Get the bullet into the goal region while staying within the time restriction. With a No.8 rifle, for example, you might need to fire 10 rounds in 40 seconds - not simple when you have to reload manually after each shot.</p>
  <h4>Snap</h4>
  <p>It's becoming tougher now. To do so, you must get all of your shots to land within a target region. The targets, however, only display for a brief period before disappearing. It must be struck before it vanishes. The target may have emerged - for approximately 5 seconds - and disappeared up to 5 times by the conclusion of the drill. To make things even more challenging, it appears at random intervals, making it impossible to predict!</p>
  <p>If you do well on all of these, you could discover you have a natural flair for marksmanship. Are you starting to feel a little competitive? Why not participate in one of our shooting contests?</p>
  <h2>Shooting competitions</h2>
  <p>If you're exceptionally good, you might be able to compete against the finest in the country at the Bisley and Pirbright contests. Individuals and teams can compete in a variety of activities. The Inter-Service Cadet Rifle Meeting (ISCRM), a target shooting competition in which you compete against members of the ACF (Army Cadet Force) and SCC (Service Cadet Corps), is an annual highlight (Sea Cadet Corps).</p>
  <p>Competitive target shooting is available to all Air Cadets, and there are a variety of additional local, national, and international target shooting tournaments staged each year.</p>
  <p>The Cadet Inter-Service Skill At Arms Meeting (CISSAM) is held every year on the Purbright ranges. It's a top-level tournament for teams and individuals, similar to the rifle meeting at Bisley.</p>
  <p>You can also participate in other competitive events, such as the RAF (Reserve Forces) Small Arms Association (RAF(RF)SAApostal )'s competition. Those who are unable to go can still compete against others around the country.</p>
  <div class="whatwedo-images">
    <div class='parent'>
      <div class='child'>
        <img src="{% static '/img/067CD61C-747A-48C5-8682-CCD6E01C2FF1.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/DAD86AF2-8A64-4D40-9161-B589F8A1B609.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/153DABE0-32C7-45C5-BA0E-38AE137DD4D9.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/CF7F38F4-83BA-4558-802A-3F5A16F8CA82.png' %}" >
      </div>
      <div class='child'>
        <img src="{% static '/img/C668C04D-5C9E-427B-9400-BAC854EE97FC.png' %}" >
      </div>
    </div>
  </div>
</div>
{% endblock %}